<component name="ArtifactManager">
  <artifact type="war" name="SpringExampleOne:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringExampleOne.war">
      <element id="artifact" artifact-name="SpringExampleOne:war exploded" />
    </root>
  </artifact>
</component>